{% extends "site_base.html" %}
{% block extra_head %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>

      <!-- <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/> -->
{% endblock %}


{% block custom_menu %}
{% include "menu/custom_menu.html"%}

{% endblock %}

{% block extra_tab %}

<li>
 <a href="/wiki">Wiki</a>
</li>
{% endblock %}



{% block middle %}
{% endblock  %}
