{% load i18n %}
{% load url from future %}
<ul class="nav navbar-nav">
  {% block tabs %}
  <li id="nav_home">
    <a href="{% url "home" %}">{% trans "Home" %}</a>
  </li>
  <li id="nav_layers">
    <a href="{% url "layer_browse" %}">{% trans "Layers" %}</a>
  </li>
  <li id="nav_maps">
    <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
  </li>
  <li id="nav_documents">
    <a href="{% url "document_browse" %}">{% trans "Documents" %}</a>
  </li>
 {% block extra_tab %}
 {% endblock %}
  <li id="nav_people">
    <a href="{% url "profile_browse" %}">{% trans "People" %}</a>
  </li>
  <li id="nav_groups">
    <a href="{% url "group_list" %}">{% trans "Groups" %}</a>
  </li>
  {% endblock %}
</ul>
