{% load i18n  cms_tags %}
{% load url from future %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}
<div class="row scientific-stories">
  <div class="col-md-9 ">
    <article id="post-{{ post.slug }}" class="post-item">
      <div class="row">
        <div class="col-md-5 col-xs-5">
          {% if image and post.main_image %}

          {% _thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}

          <img class="img-responsive img-scientific-story" src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />

          {% if post.main_image.default_caption %}

            <span class="img-caption">{{ post.main_image.default_caption|safe }}</span>{% endif %}

          {% endif %}

        </div>
        <div class="col-md-7 col-xs-7">
         <div class="article-list-header">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            {% block blog_meta %}
              <!-- {#  {% include "djangocms_blog/includes/blog_meta.html" %} #} -->
            <p>{% trans "Posted by" %} <span class="author"><a href="{% url 'djangocms_blog:posts-author' post.author.username %}">{{ post.author.get_full_name }}</a></span> on <span class="published-date">{{ post.date_published|date:"M d, Y" }}</span></p>

            {% endblock %}
        <!-- </header> -->
        </div>
        <div class="blog-lead">
            {% if not TRUNCWORDS_COUNT %}
                {% render_model post "abstract" %}
            {% else %}
                {% render_model post "abstract" "" "" 'truncatewords_html:TRUNCWORDS_COUNT'  %}
            {% endif %}
        </div>
        <p><a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a></p>

<!--
  <footer class="read-more">
    {#}  <a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a> #}
  </footer> -->
</div>

</div>
</article>
</div>
  <div class="col-md-3 ">
  </div>
</div>
