{% extends "base.html" %}
{% load cms_tags  menu_tags i18n %}

{% block base_content %}


    {% block breadcrumb %}{% show_breadcrumb "menu/breadcrumb_custom.html" %}{% endblock breadcrumb %}

        {% block content %}

          <div class="row ">

            <div class="col-md-8 col-xs-12 ">

            {% block content_blog %}{% endblock %}
          </div>
          <div class="col-xs-12 col-md-4">
            {% block aside %} {% endblock %}
          </div>
      </div>

        {% endblock content %}

{% endblock base_content %}
