{% extends "site_base.html" %}
{% load i18n  static cmsplugin_blog_helpers %}

{% load staticfiles %}
<!-- {#  {% load cms_tags sekizai_tags menu_tags  %} #}  -->

{% load base_tags %}
{% load cms_tags sekizai_tags menu_tags  %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}
<!-- {# {% block breadcrumb %}{% show_breadcrumb "menu/breadcrumb_custom.html" %}{% endblock breadcrumb %} #} -->
{% block custom_menu %}
{% include "menu/custom_menu.html"%}

{% endblock %}

{% block middle %}
  {# {{ block.super }} #} <!-- render parent -->
   <div class="container">
     <div class="row">
       <div class="col-md-8">
         <div class="center-column">
           <div class="tab">WELCOME</div>
         <div class='row'>
          <div class='col-md-12'>
            <div class="row feature-article ">
              <div class=" col-md-12 col-xs-12 col-md-12">
         {% block hero %}

                   <div class="page-header main-page">
                     <h4 class="page-title welcome">{% trans "Welcome to our Geoportal" %}</h4>
                   <span>
                     The CDF Geoportal provides users with a platform for sharing geospatial data, maps and related documents. </p>
                   </span>

                   </div>
                  <h3>
         {% endblock %}
       </div>
       </div>
       </div>
       </div>


       {% block body %}


             <div class="tab">FEATURE MAP</div>
           <div class='row'>
            <div class='col-md-12'>
              <div class="row  feature-map">
                <div class=" col-md-12 col-xs-12 col-md-12">


         {% block feature_map %}
          {% djangocms_blog_latest_map %}
       </div>
     </div>
       </div>
         </div>

         {% endblock %}


         <div class="tab">{% trans "LATEST MAPS"  %}</div>

       <div class="row latest-articles latest-map-list homepage-latest-post ">

         <!-- homepage-latest-post-aux -->
         <div class="col-md-12 col-xs-12  homepage-latest-post-aux clearfix ">
           {% djangocms_blog_latest_map_list %}
          </div>


       </div>

</div>

   <!-- end center-column -->
     </div>
     <!-- colmd8 -->

       <div class="col-md-4">
         <div class="tab">SEARCH</div>
        <div class="row latest-articles">
        <div class="col-md-12 geo-search">
        {% block search_form %}



         <form class="" id="search" action="{% url "search" %}" >

             <div class="input-group">
               {% if HAYSTACK_SEARCH %}

               <input id="search_input" type="text" placeholder="Search" class="form-group" name="q">
               {% else %}
               <input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
               {% endif %}
               <span class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
               </span>

           </div>
         </form>

     </div>
   </div>


        {% endblock  %}





        <div class="tab">FEATURE MAP</div>
      <div class='row'>
       <div class='col-md-12'>
         <div class="row feature-map">
           <div class=" col-md-12 col-xs-12 col-md-12">
      <div class="row home-facets-foo">

      {% with facet_type='home' %}
       {% facets as facets %}
        <div class="col-md-12">

          <h3 class='geonode-resources'><span class='geonode-icons'><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></span><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h4>
          <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
          {% if user.is_authenticated %}
          <p class="text-center"><a class="btn btn-default geonode-forms" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
          {% else %}
          <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
          {% endif %}
        </div>
        <div class="col-md-12">
          <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
          <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
          <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
          {% if user.is_authenticated %}
          <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
          {% else %}
          <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
          {% endif %}
        </div>
        <div class="col-md-12">
          <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
          <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
          <p>{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
          <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
        </div>
      {% endwith %}
      </div>
    </div>
  </div>
</div>
</div>
  </div>
    </div>
       </div> <!-- end row -->
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
  </script>

{% endblock extra_script %}
