{% extends "base.html" %}
{% load i18n  cms_tags  slider_tags cmsplugin_blog_helpers %}
{% block css_extra %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/flexslider-23b22ac/flexslider.css" type="text/css">
    <!-- <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/> -->
{% endblock %}

{% block extra_head %}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/> -->

{% endblock %}
{% block extra_tab %}

{#{% block custom_menu %}{% endblock %}#}

<li>
 <a href="/wiki/">Wiki</a>
</li>
{% endblock %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block custom_search_form %}
{% endblock %}

{% block body %}
<div class="container flex">
<div class="row">

        <div class="col-md-12 col-xs-12">
            {% flexslider %}
</div>
</div>
</div>

  <div class ="container">

  <div class="row ">

<!-- column left -->

  <div class="col-md-2 col-xs-12">
  <div class="tab">DATAZONE</div>

    <div class="row left-column" id="col-datazone">
        <div class="col-md-12">

   <div class="row">
     <div class="col-md-12 col-xs-12 col-md-12">

       {%  placeholder promotion-1  %}

  </div>

</div>
<div class="row">
  <div class="col-md-12 col-xs-12 col-md-12">

     {%  placeholder promotion-4  %}

</div>

</div>
</div>

</div>
 </div> <!-- end left-column -->



  <div class="col-md-6 col-xs-12 ">
      <div class="center-column">
  <div class="tab">{% trans "FEATURE ARTICLE"  %}</div>

  <div class="row">
      <div class="col-md-12">

 <div class="row feature-article ">
   <div class=" col-md-12 col-xs-12 col-md-12">

       {% djangocms_blog_latest_post %}
</div>


</div>
  <div class="tab">{% trans "LATEST NEWS"  %}</div>
<div class="row latest-articles homepage-latest-post">

  <div class="col-md-12 col-xs-12 homepage-latest-post-aux clearfix ">
    {% djangocms_blog_latest_posts_detailed %}


    <!-- prueba -->

    <div class="design clearfix">
    <h4>
    <a href="/es/noticias/2016/1/11/test-2/"> test 2</a>
    </h4>
    <img src="" class="img-responsive ">
    </div>

    <div class="design clearfix">
    <h4>
    <a href="/es/noticias/2016/1/11/prueba/"> prueba</a>
    </h4>
    <img src="" class="img-responsive ">
    </div>

    <!-- end prueba -->


   </div>


</div>
</div>

</div>
</div>


  </div>

 <!-- rigth column -->


<div class="col-md-4 col-xs-12 col-md-12 ">
        <div class="tab">{% trans "SUBSCRIBE"  %}</div>
        <div class="row latest-articles">

         <div class=" col-md-12 col-xs-12 ">
           <ul class="list-inline nav navbar-nav social">
           <li>
           <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/darwinfoundation">
             <i class="fa fa-facebook"></i>
           </a>
           </li>
           <li>
           <a class="btn btn-social-icon btn-twitter" href="http://www.twitter.com/darwinfound">
             <i class="fa fa-twitter"></i>
           </a>
           </li>
           <li>
           <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/user/CDFdarwinfoundation">
             <i class="fa fa-youtube"></i>
           </a>
           </li>
           <li>
           <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/darwinfoundation">
             <i class="fa fa-linkedin"></i>
           </a>
           </li>

           <li>
           <a class="btn btn-social-icon feed" href="http://darwinfoundation.org/{% trans "news" %}/feed/">
           <i class="fa fa-feed"></i>
         </a>
           </li>
           <li>
           <a class="btn btn-social-icon newsletter" href="#">
           <i class="fa fa-envelope"></i>
         </a>
           </li>
           </ul>

      </div>
</div>


<div class="tab">{% trans "RESEARCH  " %}</div>
<div class="row latest-articles" id="col-research">

       <div class="col-md-12 col-xs-12 ">
         <h3 class="research">{% trans "Invasive Species" %}</h3>
          {% placeholder invasive-1  %}


        </div>
        <div class="col-md-12 col-xs-12 ">
        <h3 class="research">{% trans "Conservation and Management" %}</h3>
           {% placeholder conservation-1   %}



         </div>
         <div class="col-md-12 col-xs-12 ">
         <h3 class="research">{% trans "Sustainability" %} </h3>
            {% placeholder sustainability-1   %}



          </div>
          <div class="col-md-12 col-xs-12 ">
          <h3 class="research">{% trans "Marine Research" %}</h3>
              {% placeholder marine-1  %}


           </div>
           <div class="col-md-12 col-xs-12 ">
           <h3 class="research">{% trans "Collections" %}</h3>
              {% placeholder colections-1  %}


            </div>

</div>

</div>


     </div>
   </div>

  </div>
  {% endblock %}
  {% block js_extra %}
<script src="{{ STATIC_URL }}js/vendor/flexslider-23b22ac/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.flexslider').flexslider();
    });
</script>
{% endblock %}

  {% block wiki_body %}
  {% endblock %}
