{% load i18n   %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}

{% if maps %}
<div class="tab">{% trans "LATEST MAPS"  %}</div>

{% for map in maps %}
<div class="row latest-maps">
<div class="col-md-5 col-xs-5">

      <a href="{{ map.get_absolute_url }}">
      <img class="img-responsive" src="{{ map.thumbnail_url}}">
    </a>

</div>
<div class="col-md-7 col-xs-7 ">
  <h4>
  <a href="{{ map.get_absolute_url }}"> {{ map.title }}</a>
  </h4>
  <p> {{ map.abstract |truncatechars:135 }} </p>
  <p>
    <a class="btn btn-default" href="{{ map.get_absolute_url }}"> See map </a>
</p>
</div>
 </div>
{% endfor %}

{% endif %}
