{% load i18n   %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}

{% if layers %}
<div class="row latest-articles">

{% for layer in layers %}

<div class="col-md-4 col-xs-12  ">
  <div class="box clearfix">
  <div class="">
      <a href="{{ layer.get_absolute_url }}">
      <img class="img-responsive img-polaroid " alt="{{ layer.title }}" src="{{ layer.thumbnail_url}}">
    </a>
      <div class="maps-caption"><p class="desc_content text-center">{{layer.title}}</p></div>
    </div>
</div>
</div>
{% endfor %}
  </div>

{% endif %}
