{% load i18n   %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}

{% if maps %}
{% for map in maps %}
<div class="col-md-4 col-xs-12 homepage-latest-post-aux clearfix ">
    <div class="design clearfix">

    <h4>
    <a href="{{ map.get_absolute_url }}"> {{ map.title }}</a>
    </h4>
    <div class="tilt pic">
      <a href="{{ map.get_absolute_url }}">
      <img class="img-responsive" src="{{ map.thumbnail_url}}">
    </a>
      <div class="maps-caption"><p></p></div>
    </div>
    </div>
</div>

{% endfor %}
{% endif %}
