{% load i18n   %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}

{% if layers %}
<div class="row design latest-layers">
{% for layer in layers %}
    <div class="col-md-4">
    <div class=" clearfix">
      <a href="{{ layer.get_absolute_url }}">
        <img class="img-thumbnail img-responsive " src="{{ layer.thumbnail_url}}" />
    </a>
    <h4 class="text-center">
    <a href="{{ layer.get_absolute_url }}"> {{ layer.title }}</a>
    </h4>

    </div>
</div>
{% endfor %}
</div>
{% endif %}
