{% extends "2-col-blog.html" %}
{% load i18n  cms_tags %}
{% load url from future %}
<!-- loaded to avoid  conflict wit wiki -->
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}


{% block meta_description %}{{ post.meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock meta_keywords %}
{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
    <div class="header">
    <h2>{% render_model post "title" %}</h2>
      </div>
    {% if post.main_image_id %}
    <span class="img-container">
        {% _thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img  class ="img-responsive" src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
        {% if post.main_image.default_caption %}<span class="img-caption">{{ post.main_image.default_caption|safe }}</span>{% endif %}
    </span>
    {% endif %}

	{% if use_placeholer %}
		<div class="blog-content">{% render_placeholder post.content %}</div>
	{% else %}
		<div class="blog-content">{% render_model post "post_text" "post_text" %}</div>
    <hr>
	{% endif %}

</article>
{% endspaceless %}{% endblock content_blog %}
