{% extends "djangocms_blog/base.html" %}
{% load smart_load %}
{% load thumbnail from easy_thumbnail as _thumbnail %}
{% load i18n  cms_tags %}

{% block meta_description %}{{ post.meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock meta_keywords %}
{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
    <!-- <header> -->
    <div class="header">

        <h2>{% render_model post "title" %}</h2>
        <!-- {#   {% block blog_meta %} #}
        {#       {% include "djangocms_blog/includes/blog_meta.html" %}  #}
      {#  {% endblock %}  #} -->
    <!-- </header> -->
  </div>
    {% if post.main_image_id %}
    <!-- <div class="blog-visual"> -->
    
    {% endif %}
    {% endspaceless %}
    {% if post.app_config.use_placeholder %}
        <div class="blog-content">{% render_placeholder post.content %}</div>
    {% else %}
        <div class="blog-content">{% render_model post "post_text" "post_text" %}</div>
    {% endif %}
</article>
{% endblock content_blog %}
