{% extends "site_base_wiki.html" %}
{% load sekizai_tags i18n wiki_tags %}


{% block wiki_search_form %}
<br>
<div class="tab">SEARCH</div>
<!-- remove wiki_search_form from below-->
<div class="row  search-section">
  <div class="col-md-12  geo-search">

        <form  method="GET" action="{% url 'wiki:search' %}">
          <div class="input-group">
          <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
          <span class="input-group-btn">
          <button class="btn btn-default" type="button">
          <span class="fa fa-search"></span>
          </button>
          </span>
          </div><!-- /input-group -->
        </form>
    </div>

</div>
{% endblock %}
  {% block wiki_body %}



    <div id="wikifcd">
      <div class="row">
          <div class="col-md-12 feature-article ">
        {% if messages %}
          <!-- Messages for this instance -->
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <!-- Reserved for breadcrumbs -->
        {% block wiki_breadcrumbs %}{% endblock %}

        <!-- Main page contents go here -->
        {% block wiki_contents %}{% endblock %}
        </div>
      </div>
    </div>

    </div> <!-- /container -->
  </div>
    {% endblock %}

    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap.min.js"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ STATIC_URL }}wiki/js/respond.min.js"></script>
    {% render_block "js" %}
