/*body {
    color: #333;
    font-family: "Lato",proxima-nova-sc-osf-ext-cond,proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    background-color: white;
}*/
/*
.row {
  margin: 0px auto
}*/


.col-md-12.geo-search {
    padding: 10px !important;
}


.fa {
  height: 23px !important;
}


.navbar-brand {
    width: 373px;
    height: 79px;
    background: transparent url("../img/UWI-logo.JPG") no-repeat scroll 15px 0px;
}

#wrap {
  background: #f6f6f6 none repeat scroll 0 0;

    padding-bottom: 0px;
    padding-top: 5px;
    width: 100%;
}

.logo {
    background: #001032 none repeat scroll 0 0;
}}

body {
  padding-top: 0px !important;
}


body li#nav_layers a {
    color: #001032;
}

.form-control {
  height: 37px;
}

.welcome {

  color: #666;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 12px;
}

.main-page {

  margin-top: 0px;

}

/*logo*/
.container-fluid.logo {
    max-height: 80px;
}

.container-fluid.footer {
    margin-top: 0px !important;
}

h2.header-logo {
    float: left;
    margin: 0px 0;
    padding-left: 100px;
    margin-top: -10px;
}

.navbar-brand {
    background:  0px 0 no-repeat;
    height: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-indent: 0em;
    width: 0px;
}

.blue.navbar-brand.logo.pull-left > img {
    position: relative;
    top: -27px;
    width: 100px;
    z-index: 1000;
}

.logo-letter {
    font-size: 30.8px;
    font-weight: bolder;
}

.logo-letter-before {
    font-size: 14.58px;
    font-style: italic;
    vertical-align: bottom;
}

.logo-letter-after {
    font-size: 14.58px;
    vertical-align: top;
    font-style: italic;
    padding-left: 171px;
}

nav.filter h4 {
  background-color: #001032;
}

.fa.fa-chevron-down {
    color: #fff;
    font-size: 20px;
}

.fa.fa-chevron-down:hover {
    color: #ddd;
    font-size: 20px;
}

.fa.fa-chevron-right {
    color: #fff;
    font-size: 20px;
}

.fa.fa-chevron-right:hover {
    color: #ddd;
    font-size: 20px;
}

.filter > ul > li {
  width: 100%;
}

/* from base/resource_baseinfo.html template */

.dl-horizontal dt {
    clear: left;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 1em;
    text-align: justify;;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}


/* wiki */


.wiki_search_form {
  margin: 20px 0;
}
